name: "<%= FreeBSD.pkg_name() %>"
version: "<%= FreeBSD.pkg_version() %>"
origin: "devel/<%= FreeBSD.pkg_name() %>"
comment: "<%= FreeBSD.pkg_comment() %>"
www: "<%= FreeBSD.pkg_www() %>"
maintainer: "<%= FreeBSD.pkg_maintainer() %>"
prefix: "<%= FreeBSD.pkg_prefix() %>"
desc = <<EOD
  <%= FreeBSD.pkg_description() %>
EOD
