name: "<%= FreeBSD.pkg_name() %>"
version: "<%= FreeBSD.pkg_version() %>"
origin: "none"
comment: "<%= FreeBSD.pkg_comment() %>"
www: "<%= FreeBSD.pkg_www() %>"
maintainer: "<%= FreeBSD.pkg_maintainer() %>"
prefix: "<%= FreeBSD.pkg_prefix() %>"
